.color-back
  .img-rounded
  = image_tag('stanok.png',  :class => 'img-rounded', height: "77", width: "113")
  = image_tag('stanok3.jpg', :class => 'img-rounded', height: "77", width: "113")
  = image_tag('stanok4.jpg', :class => 'img-rounded', height: "77", width: "113")
  = image_tag('stanok5.jpg', :class => 'img-rounded', height: "77", width: "113")
  = image_tag('stanok.png',  :class => 'img-rounded', height: "77", width: "113")
  = image_tag('stanok3.jpg', :class => 'img-rounded', height: "77", width: "113")
  = image_tag('stanok4.jpg', :class => 'img-rounded', height: "77", width: "113")
  = image_tag('stanok5.jpg', :class => 'img-rounded', height: "77", width: "113")
  
.text-center
  %br
  %h3 Уважаемые клиенты!
  %p.lead-my Мы приглашаем Вас к сотрудничеству! 
  %p.lead-my 
    Заказ нашей продукции в любых количествах. Литье на Ваших пресс-формах.
    %br
    Возможно изготовление пресс-форм. 
  %p.lead-my Низкие цены. Кратчайшие сроки.

.row-fluid
  .span4
    %h3.page-header.blue
      Наша продукция:
    %ul
      %li крепления для москитной сетки.
      %li ниппель для обналичника пластиковых окон и дверей.
      %li подпятник квадратный

  .span4
    %h3.page-header.blue
      Материал:
    %p
      %ul
        %li полипрепилен
        %li полиэтилен низкого давления
        %li полиэтилен высокого давления
        %li полистирол.
    %p
      = link_to 'Оформить заказ', new_order_path, :class => 'btn btn-large btn-primary'

  .span4
    %h3.page-header.blue
      Наши контакты:
    %address
      %strong ИП Паршуков Андрей Владимирович
      %br
      <abbr title="Email">e-mail:</abbr>
      = mail_to 'andrey.vrach@mail.ru', 'andrey.vrach@mail.ru', {:subject => 'Литье из полипропилена'}
      %br
      <abbr title="Телефон">тел.:</abbr> 89182475311

.facebook_like_button_holder
  %iframe{:src=>"http://www.facebook.com/plugins/like.php?href=http://lytie.herokuapp.com/Beatles&amp;layout=button_count&amp;show_faces=true&amp;width=600&amp;action=recommend&amp;colorscheme=light&amp;height=21", :scrolling=>"no", :frameborder=>"0",  :style=>"border:none; overflow:hidden; width:600px; height:21px;", :allowTransparency=>"true"}
