!!!
%html
  %head

    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:property => "og:*", :content => "..."}

    %title ИП ПАРШУКОВ А.В., ЛИТЬЕ ИЗ ПОЛИПРОПИЛЕНА
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    %meta{:name => "keywords", :content => "ИП Паршуков Андрей Владимирович, ИП Паршуков Владимир Алексеевич, литье из полипропилена, литье, полипропилен, крепления для москитной сетки, ниппель, обналичник, металлопластик, окно, двери, подпятник квадратный, Z-крепление, уголок для москитной сетки, полиэтилен низкого давления, полиэтилен высокого давления, полистирол"}

    %type{:href=>"text/javascript", :src=>"//vk.com/js/api/openapi.js?101"}

    :javascript
      .VK.Widgets.Like("vk_like", {:type=>"button"});

  %body{:class => controller_name}
    .container
      .masthead
        %h3.muted.blue
          = link_to 'ИП ПАРШУКОВ А.В., ЛИТЬЕ ИЗ ПОЛИПРОПИЛЕНА', root_path
 
      = yield      

      %footer
        %hr
        %p= '&copy; Nefochka 2013'.html_safe
